In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('covid_and_healthy_spectra.csv')

In [3]:
df.shape

(309, 901)

In [8]:
df[['diagnostic']].value_counts()

diagnostic
SARS-CoV-2    159
Healthy       150
dtype: int64

In [10]:
df.head(5)

,400,402,405,407,410,412,415,417,420,422,...,2101,2103,2104,2105,2107,2108,2109,2111,2112,diagnostic
0,0.0,-0.015237,-0.030607,-0.038309,-0.039078,-0.035809,-0.031176,-0.030395,-0.033311,-0.031603,...,-0.000553,0.000118,0.000566,0.001245,0.000846,0.001106,0.001005,0.000117,0.0,Healthy
1,0.0,-0.012098,-0.028164,-0.035189,-0.036138,-0.031050,-0.026015,-0.027539,-0.028084,-0.027075,...,-0.000998,0.000278,-0.000123,0.000384,0.001010,0.000583,-0.000397,-0.000160,0.0,Healthy
2,0.0,-0.013000,-0.029058,-0.035021,-0.034994,-0.033025,-0.028413,-0.028470,-0.029737,-0.029198,...,-0.001554,0.000050,0.000866,0.000877,0.000871,0.001093,0.001058,0.000614,0.0,Healthy
3,0.0,-0.015728,-0.034346,-0.045140,-0.047671,-0.044334,-0.040807,-0.040474,-0.041417,-0.040699,...,-0.001541,-0.000198,0.000202,0.001023,0.000625,0.000420,0.000543,-0.000071,0.0,Healthy
4,0.0,-0.020355,-0.045839,-0.060556,-0.065805,-0.064988,-0.062097,-0.061955,-0.064759,-0.066886,...,-0.000088,0.000891,0.000942,0.001294,0.001878,0.001739,0.001946,0.001301,0.0,Healthy

# Prepare X_train y_train X_test y_test

In [15]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [17]:
y

0         Healthy
1         Healthy
2         Healthy
3         Healthy
4         Healthy
          ...
304    SARS-CoV-2
305    SARS-CoV-2
306    SARS-CoV-2
307    SARS-CoV-2
308    SARS-CoV-2
Name: diagnostic, Length: 309, dtype: object

In [34]:
y_num = y.replace({'Healthy': 0, 'SARS-CoV-2':1}, inplace=False)
y_num = y_num.to_frame()
y_num

     diagnostic
0             0
1             0
2             0
3             0
4             0
..          ...
304           1
305           1
306           1
307           1
308           1

[309 rows x 1 columns]

In [25]:
y_num[['diagnostic']].value_counts()

diagnostic
1             159
0             150
dtype: int64

In [37]:
y_num

     diagnostic
0             0
1             0
2             0
3             0
4             0
..          ...
304           1
305           1
306           1
307           1
308           1

[309 rows x 1 columns]

# Save X and y as dataframes

In [36]:
X.to_csv('X.csv', index=False) 
y_num.to_csv('y.csv', index=False)